@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample application that
            demonstrates how to use Entity Framework Core 1.1.1 in an
            ASP.NET Core MVC 1.1 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p><b>NOTE:</b> the steps for the original application do not separate out ContosoUniversity.Models and ContosoUniversity.Data as separate projects.</p>
        <p><b>TBD:</b> Add detailed steps for creating separate projects.</p>
        <p>You can build the original application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html" target="_blank">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/bgoodearl/cu_sample_mp" target="_blank">See project source code &raquo;</a></p>
    </div>
</div>
